/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

.container {
  display: flex;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.cv {
  box-shadow:
    rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px,
    rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px,
    rgba(0, 0, 0, 0.09) 0px -3px 5px;
  margin-left: 50px;
  height: 800px;
  width: 700px;
}

.general {
  min-height: 50px;
  color: white;
  background-color: #2e6287;
}

.general > div,
.contact {
  display: flex;
}

.general > div {
  justify-content: center;
  padding-bottom: 30px;
}

.contact {
  align-items: center;
}

.general > p {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 20px;
  font-size: 48px;
}

.contact:nth-of-type(1) {
  margin-right: 10px;
}

.contact p {
  margin-left: 5px;
}

svg {
  width: 28px;
  height: 28px;
}

.cv {
  background: #d5dfe7;
}

.experience > h1,
.education > h1 {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 100px;
  padding-right: 100px;
  font-size: 32px;
}

.company,
.experience > h2,
.education > h2 {
  padding-left: 100px;
  padding-right: 100px;
}

.company {
  display: flex;
  margin-bottom: 3px;
}

.mid {
  margin-left: 20px;
  margin-right: 20px;
}

.duty {
  margin-bottom: 20px;
}
